name: recursive_reasoning.loop_transformer@LoopTransformerModel_ACT
loss:
  name: losses@ACTLossHead
  loss_type: stablemax_cross_entropy

halt_exploration_prob: 0.1
halt_max_steps: 16
act_enabled: true
act_inference: false
no_ACT_continue: true

hidden_size: 512
num_heads: 8
expansion: 4

puzzle_emb_ndim: ${.hidden_size}
puzzle_emb_len: 16

pos_encodings: rope
forward_dtype: bfloat16
dropout: 0.0

outer_cycles: 2
warmup_cycles: 0

states:
  - name: z_H
    layers: 1
  - name: z_M
    layers: 1
    share_weights_with: z_H
  - name: z_L
    layers: 1
    share_weights_with: z_H

stages:
  - target: z_L
    sources: [z_H]
    include_inputs: true
    repeat: 1
  - target: z_M
    sources: [z_L]
    repeat: 1
  - target: z_H
    sources: [z_M]
    repeat: 1

readout_state: z_H
halt_state: z_H
